{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <style>
                        .card {
                            background-color:lightblue
                        }



                    </style>    
                <div class="card">        
                    <img class="card-img-top" src="static/assets/banan.gif" alt="banan" height="250">
                    <div class="card-body">
                    <style>
                        .card-title {
                            font-family: Copperplate, fantasy;
                            color: green
                        }
                    </style>
                    <h5 class="card-title">My Top 5 Favorite Fruits</h5>
                    <style>
                        li {
                          color:red;
                          font-family: "Lucida Console", "Courier New", monospace;
                        }
                    </style>  
                    <p class="card-text">                        
                        <ol>
                            <li>Bananas</li>
                            <li>Apples</li>
                            <li>Watermelons</li>
                            <li>Grapes</li>
                            <li>Pineapples</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="static/assets/game-controler.gif" alt="game-controler" height="250">
                    <div class="card-body">
                    <h5 class="card-title">My Top 5 Favorite Games</h5>
                    <p class="card-text">
                        <ol>
                            <li>Titanfall 2</li>
                            <li>Valorant</li>
                            <li>Minecraft</li>
                            <li>Destiny 2</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="static/assets/stick.gif" alt="stick" height="250">
                    <div class="card-body">
                    <h5 class="card-title">About Me</h5>
                    <p class="card-text">
                        <ol>
                            <li>10th Grade</li>
                            <li>Music Production 🎹</li>
                            <li>Working Out 💪</li>
                            <li>Gaming 🎮</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}